# Copyright (c) 2025 AIFoundry
# SPDX-License-Identifier: Apache-2.0

if SOC_ETSOC1_SP

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 1000000

config NUM_IRQS
	default 160

config 2ND_LVL_ISR_TBL_OFFSET
	default 12

config 2ND_LVL_INTR_00_OFFSET
	default 11

config MAX_IRQ_PER_AGGREGATOR
	default 148

config MULTI_LEVEL_INTERRUPTS
	default y

config 2ND_LEVEL_INTERRUPTS
	default y

config NUM_2ND_LEVEL_AGGREGATORS
	default 1

config PLIC
	default y

endif
